Data Science Tools and Ecosystem

In this notebook, I will summarize, Data Science Tools and Ecosystems.

Objectives:
-  List some commonly used languages by Data Scientists
-  List some of the most popular libraries used by Data Scientists
-  Provide examples of evaluating arithmetic expressions in Python

Some commonly used languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the most popular libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn
4. Keras

| Data Science Tools |
| --- |
| Aanaconda |
| R Studio |
| Jupyter Notebooks |

Examples of evaluating arithmetic expressions in Python

In [6]:
#This expression mutiplies then adds integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Author,
Thomas Mckeown